# Project Title
### Data Engineering Capstone Project

#### Project Summary
This Project aims to provide an analytical model for immigrations to United States.It'll provide insights needed as well as figures that help in decision making.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
#all imports and installs here
import pandas as pd
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, TimestampType
from pyspark.sql import SparkSession
import datetime

Initiating spark session

In [2]:
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

Define the Functions that will be used

In [3]:
#This function will check if there exists an earlier load for the table or this is the first time
def check_table(table_path):
    try:
        song_table_df = spark.read.parquet(table_path)
        return 'TRUE'
    except:
        return 'FALSE'

Set the config parameters that will be used

In [4]:
landing_zone_path="./Landing Zone/"
dwh_model_path="./DWH Model/"

### Step 1: Scope the Project and Gather Data

#### Scope 
The Solution will provide analytical model.The Model is dimensional star schema form.This is otimum for Data warehouse solutions to avail best performance for the analytical queries that will run on top of the model.

The Solution is based on:
1.Landing the source files in the landing zone.
2.Read the data in spark tables (schema on read).
3.Transforming the data to the analytical model in the dimensional star schema form.

The data extraction , transformations & loading is done with Pyspark SQL. The data is transformed and written to parque files.

#### Describe and Gather Data 
The data sets consists of the below source files:

1."i94_apr16_sub.sas7bdat":
Holds the Immigration transactions along with all the facts and measures related to it (City immigrated from , US city immigrated to,arrival date,arrival port,immigration mode,departure date,birthdate,visa type,gender,airline used).
The files are extracted on monthly basis.

2."us-cities-demographics.csv":
Holds the US cities details (city, state,median age of citizens,male population , female population,total population, foreign-born citizens)

3."city.txt":
Holds the countries names and corresponding codes , extracted from "I94_SAS_Labels_Description.SAS" file

4."airport-codes_csv.csv":
Holds the airports all details.

5."transport_mode.txt":
Holds transport modes used by immigrants ('Air','Sea',etc...) ,extracted from "I94_SAS_Labels_Description.SAS" file

6."visa_type.txt":
Holds the different type of Visa types and corresponding codes,extracted from "I94_SAS_Labels_Description.SAS" file

### Step 2: Explore and Assess the Data
#### Explore the Data 
Reading the data ,Identify data quality issues, like missing values in keys and maindatory values, duplicate data, granularity,checking distinct values.

#### Cleaning Steps
1.Filtering the required set of data only.

2.Removing records having null values in maindatory columns

3.Setting the required granularity

Read Immigration data and load to schema on read staging table

In [5]:
stg_immigration_df =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

Check Sample data

In [6]:
stg_immigration_df.limit(10).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,...,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,None,M,1961.0,09302016,M,None,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,1988.0,09302016,None,None,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,2012.0,09302016,None,None,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,None,M,1959.0,09302016,None,None,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,None,M,1953.0,09302016,None,None,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,None,M,1959.0,09302016,None,None,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,None,M,1970.0,09302016,None,None,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,None,M,1968.0,09302016,None,None,AZ,9.247849e+10,00608,B1

Check Schema and data types as well as nullability

In [7]:
stg_immigration_df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

Read the data on spark table (schema on read) 

(Hint:We will work on 1M Records)

In [8]:
stg_immigration_df.limit(1000000).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,...,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,None,M,1961.0,09302016,M,None,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,1988.0,09302016,None,None,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,2012.0,09302016,None,None,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,None,M,1959.0,09302016,None,None,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,None,M,1953.0,09302016,None,None,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,None,M,1959.0,09302016,None,None,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,None,M,1970.0,09302016,None,None,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,None,M,1968.0,09302016,None,None,AZ,9.247849e+10,00608,B1
10,23.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20671.0,...,None,M,1964.0,09302016,None,None,TK,9.250139e+10,00001,B2
11,24.0,2016.0,4.0,101.0,101.0,TOR,20545.0,1.0,MO,20554.0,...,None,M,1983.0,09302016,None,None,MQ,9.249091e+10,03348,B2
12,27.0,2016.0,4.0,101.0,101.0,BOS,20545.0,1.0,MA,20549.0,...,None,M,1958.0,04062016,M,None,LH,9.247876e+10,00422,B1
13,28.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20549.0,...,None,M,1960.0,04062016,F,None,LH,9.247890e+10,00422,B1
14,29.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20561.0,...,None,M,1954.0,09302016,M,None,AZ,9.250378e+10,00614,B2
15,30.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NJ,20578.0,...,None,M,1967.0,09302016,M,None,OS,9.247021e+10,00089,B2
16,31.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NY,20611.0,...,None,M,1973.0,09302016,M,None,OS,9.247129e+10,00089,B2
17,33.0,2016.0,4.0,101.0,101.0,HOU,20545.0,1.0,TX,20554.0,...,None,M,1963.0,09302016,F,None,TK,9.250930e+10,00033,B2
18,34.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,None,None,1968.0,09302016,M,None,AZ,9.247042e+10,00602,B2
19,35.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,None,None,1942.0,09302016,F,None,TK,6.697122e+08,1,B2
20,36.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20561.0,...,None,M,1979.0,09302016,M,None,TK,9.250626e+10,00001,B2
21,37.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20567.0,...,None,M,1967.0,09302016,F,None,AZ,9.247562e+10,00608,B2
22,38.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20575.0,...,None,M,1983.0,09302016,M,None,AZ,9.248609e+10,00608,B2
23,39.0,2016.0,4.0,101.0,101.0,MIA,20545.0,1.0,FL,20574.0,...,None,M,1951.0,09302016,F,None,TK,9.250766e+10,00077,B2
24,40.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20554.0,...,None,M,1981.0,09302016,M,None,OS,9.248056e+10,00065,B1
25,41.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20562.0,...,None,M,1984.0,09302016,M,None,OS,9.247781e+10,00065,B1
26,42.0,2016.0,4.0,101.0,101.0,CHI,20545.0,1.0,IL,20580.0,...,None,M,1978.0,09302016,M,None,TK,9.250622e+10,00005,B1
27,47.0,2016.0,4.0,101.0,110.0,NYC,20545.0,1.0,NJ,20665.0,...,None,M,1988.0,D/S,F,None,AY,9.249398e+10,00005,F1
28,48.0,2016.0,4.0,101.0,117.0,NYC,20545.0,1.0,NY,20572.0,...,None,M,1948.0,09302016,M,None,AA,9.247360e+10,00199,B2
29,49.0,2016.0,4.0,101.0,117.0,NYC,20545.0,1.0,NY,20572.0,...,None,M,1955.0,09302016,F,None,AA,9.247342e+10,00199,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2041185.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,IN,20559.0,...,None,M,1976.0,07092016,M,None,DL,5.597346e+10,00158,WB
999971,2041186.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,IN,20559.0,...,None,M,1977.0,07092016,M,None,DL,5.597361e+10,00158,WB
999972,2041187.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,IN,20565.0,...,None,M,1968.0,07092016,M,None,DL,5.597288e+10,00158,WB
999973,2041188.0,2016.0,4.0,254.0,276.0,NYC,20555.0,1.0,IN,20558.0,...,None,M,1959.0,07092016,None,None,DL,5.597052e+10,00158,WB
999974,2041189.0,2016.0,4.0,254.0,276.0,HOU,20555.0,1.0,LA,NaN,...,None,None,1997.0,07092016,M,None,DL,5.597375e+10,00158,WT
999975,2041190.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MA,20566.0,...,None,M,1988.0,07092016,F,None,DL,5.597370e+10,00158,WT
999976,2041191.0,2016.0,4.0,254.0,276.0,LOS,20555.0,1.0,ME,20558.0,...,None,M,1978.0,07092016,M,None,DL,5.597214e+10,00158,WB
999977,2041192.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,ME,20558.0,...,None,M,1979.0,07092016,M,None,DL,5.597204e+10,00158,WB
999978,2041193.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,ME,20560.0,...,None,M,1970.0,07092016,None,None,DL,5.597113e+10,00158,WB
999979,2041198.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20556.0,...,None,M,1979.0,07092016,M,None,DL,5.597278e+10,00158,WB
999980,2041199.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20556.0,...,None,M,1987.0,07092016,M,None,DL,5.597325e+10,00158,WB
999981,2041200.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1969.0,07092016,M,None,DL,5.597180e+10,00158,WB
999982,2041201.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1974.0,07092016,M,None,DL,5.597355e+10,00158,WB
999983,2041202.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1975.0,07092016,M,None,DL,5.597182e+10,00158,WB
999984,2041203.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1975.0,07092016,M,None,DL,5.597391e+10,00158,WB
999985,2041204.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1976.0,07092016,M,None,DL,5.597363e+10,00158,WB
999986,2041205.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1977.0,07092016,M,None,DL,5.597079e+10,00158,WB
999987,2041206.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1978.0,07092016,M,None,DL,5.597349e+10,00158,WB
999988,2041207.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1979.0,07092016,M,None,DL,5.597366e+10,00158,WB
999989,2041208.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1980.0,07092016,M,None,DL,5.597353e+10,00158,WB
999990,2041209.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1981.0,07092016,M,None,DL,5.597379e+10,00158,WB
999991,2041210.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1981.0,07092016,M,None,DL,5.597389e+10,00158,WB
999992,2041211.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1982.0,07092016,M,None,DL,5.597335e+10,00158,WB
999993,2041212.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1982.0,07092016,M,None,DL,5.597347e+10,00158,WB
999994,2041213.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1983.0,07092016,M,None,DL,5.597326e+10,00158,WT
999995,2041214.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20558.0,...,None,M,1983.0,07092016,M,None,DL,5.597329e+10,00158,WB
999996,2041215.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20580.0,...,None,M,1983.0,07092016,M,None,DL,5.597286e+10,00158,WB
999997,2041216.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20572.0,...,None,M,1970.0,07092016,M,None,DL,5.597313e+10,00158,WB
999998,2041217.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20573.0,...,None,M,1972.0,07092016,M,None,DL,5.597330e+10,00158,WB
999999,2041218.0,2016.0,4.0,254.0,276.0,DET,20555.0,1.0,MI,20573.0,...,None,M,1979.0,07092016,M,None,DL,5.597121e+10,00158,WB

In [9]:
stg_immigration_df.createOrReplaceTempView("stg_immigration_transactions")

Check the values and their frequency as well as null values

In [10]:
spark.sql('select distinct i94yr,i94mon from stg_immigration_transactions').show()

+------+------+
| i94yr|i94mon|
+------+------+
|2016.0|   4.0|
+------+------+

In [11]:
spark.sql('select  count(*), i94res from stg_immigration_transactions group by i94res').show()

+--------+------+
|count(1)|i94res|
+--------+------+
|   42495| 692.0|
|     792| 299.0|
|   13992| 576.0|
|     423| 735.0|
|    8505| 206.0|
|     519| 524.0|
|      99| 389.0|
|      76| 390.0|
|    1310| 249.0|
|     153| 329.0|
|  156613| 112.0|
|     616| 154.0|
|      19| 521.0|
|   20245| 124.0|
|  112407| 438.0|
|     137| 348.0|
|      42| 410.0|
|    2646| 253.0|
|       9| 317.0|
|      24| 128.0|
+--------+------+
only showing top 20 rows

In [12]:
spark.sql('select   count(*) from stg_immigration_transactions where i94res is null').show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [13]:
spark.sql('select   count(*) from stg_immigration_transactions where i94port is null').show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

Read Airport Data

In [140]:
stg_airport_schema = StructType([
        StructField('ident', StringType()),
        StructField('type', StringType()),
        StructField('name', StringType()),
        StructField('elevation_ft', IntegerType()),
        StructField('continent', StringType()),
        StructField('iso_country', StringType()),
        StructField('iso_region', StringType()),
        StructField('municipality', StringType()),
        StructField('gps_code', StringType()),
        StructField('iata_code', StringType()),
        StructField('local_code', StringType()),
        StructField('coordinates', StringType())
    ])

In [141]:
stg_airport_df =spark.read.csv('{}/airport-codes_csv.csv'.format(landing_zone_path),header=True,schema=stg_airport_schema)

In [142]:
stg_airport_df.limit(10).toPandas()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,None,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,None,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NA,US,US-AK,Anchor Point,00AK,None,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NA,US,US-AL,Harvest,00AL,None,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NA,US,US-AR,Newport,None,None,None,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100,NA,US,US-OK,Alex,00AS,None,00AS,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810,NA,US,US-AZ,Cordes,00AZ,None,00AZ,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038,NA,US,US-CA,Barstow,00CA,None,00CA,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87,NA,US,US-CA,Biggs,00CL,None,00CL,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350,NA,US,US-CA,Pine Valley,00CN,None,00CN,"-116.4597417, 32.7273736"

In [143]:
stg_airport_df.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [144]:
stg_airport_df.createOrReplaceTempView("stg_airport_prep")

In [145]:
spark.sql('Drop table if exists stg_airport')

DataFrame[]

Prepare and clense Airport Table

In [146]:
spark.sql('create table stg_airport as SELECT name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code ,coordinates  \
          FROM stg_airport_prep where iso_country="US" and local_code is not null and iata_code is not null \
           ').toPandas()

Empty DataFrame
Columns: []
Index: []

In [147]:
spark.sql(' SELECT name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code,coordinates  \
          FROM stg_airport').toPandas()

,name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,Ocean Reef Club Airport,small_airport,8.0,US-FL,Key Largo,07FA,OCA,07FA,"-80.274803161621, 25.325399398804"
1,Pilot Station Airport,small_airport,305.0,US-AK,Pilot Station,None,PQS,0AK,"-162.899994, 61.934601"
2,Crested Butte Airpark,small_airport,8980.0,US-CO,Crested Butte,0CO2,CSE,0CO2,"-106.928341, 38.851918"
3,LBJ Ranch Airport,small_airport,1515.0,US-TX,Johnson City,0TE7,JCY,0TE7,"-98.62249755859999, 30.251800537100003"
4,Metropolitan Airport,small_airport,418.0,US-MA,Palmer,13MA,PMX,13MA,"-72.31140136719999, 42.223300933800004"
5,Loring Seaplane Base,seaplane_base,0.0,US-AK,Loring,13Z,WLR,13Z,"-131.636993408, 55.6012992859"
6,Nunapitchuk Airport,small_airport,12.0,US-AK,Nunapitchuk,PPIT,NUP,16A,"-162.440454, 60.905591"
7,Port Alice Seaplane Base,seaplane_base,0.0,US-AK,Port Alice,16K,PTC,16K,"-133.597, 55.803"
8,Icy Bay Airport,small_airport,50.0,US-AK,Icy Bay,19AK,ICY,19AK,"-141.662002563, 59.96900177"
9,Port Protection Seaplane Base,seaplane_base,0.0,US-AK,Port Protection,19P,PPV,19P,"-133.61000061035, 56.328800201416"
10,Kalakaket Creek AS Airport,small_airport,1598.0,US-AK,Kalakaket Creek,1KC,KKK,1KC,"-156.820392609, 64.4166256967"
11,Dunsmuir Muni-Mott Airport,small_airport,3258.0,US-CA,Dunsmuir,KMHS,MHS,1O6,"-122.272003, 41.263199"
12,Grand Canyon Bar Ten Airstrip,small_airport,4100.0,US-AZ,Whitmore,None,GCT,1Z1,"-113.231003, 36.259701"
13,Ellamar Seaplane Base,seaplane_base,0.0,US-AK,Ellamar,None,ELW,1Z9,"-146.704038, 60.893818"
14,Lime Village Airport,small_airport,552.0,US-AK,Lime Village,2AK,LVD,2AK,"-155.440002441, 61.3591003418"
15,Five Finger CG Heliport,heliport,48.0,US-AK,Five Finger,2AK3,FIV,2AK3,"-133.630996704, 57.26990127559999"
16,Hog River Airport,small_airport,534.0,US-AK,Hogatza,2AK6,HGZ,2AK6,"-155.6690063, 66.2161026"
17,Ed-Air Airport,small_airport,426.0,US-IN,Oaktown,I20,OTN,I20,"-87.4997024536, 38.851398468"
18,Telida Airport,small_airport,650.0,US-AK,Telida,2K5,TLF,2K5,"-153.26899719238, 63.393901824951"
19,Eagle Air Park,small_airport,15.0,US-TX,Brazoria,2TE0,BZT,2TE0,"-95.579696655273, 28.982200622559"
20,False Island Seaplane Base,seaplane_base,NaN,US-AK,False Island,2Z6,FAK,2Z6,"-135.212997437, 57.5321998596"
21,Blakely Island Airport,small_airport,66.0,US-WA,Blakely Island,38WA,BYW,38WA,"-122.825996399, 48.578998565700005"
22,Drift River Airport,small_airport,30.0,US-AK,Kenai,3AK5,DRF,3AK5,"-152.162002563, 60.588901519800004"
23,Rinkenberger Restricted Landing Area,small_airport,808.0,US-IL,Bradford,3IS8,BDF,3IS8,"-89.61569976810001, 41.230899810800004"
24,Roy Otten Memorial Airfield,small_airport,1030.0,US-MO,Versailles,3VS,VRS,3VS,"-92.875198364258, 38.427799224854"
25,Golden Horn Lodge Seaplane Base,seaplane_base,91.0,US-AK,Golden Horn Lodge,3Z8,GDH,3Z8,"-158.875, 59.7470016479"
26,Atmautluak Airport,small_airport,17.0,US-AK,Atmautluak,None,ATT,4A2,"-162.272995, 60.866699"
27,Livengood Camp Airport,small_airport,425.0,US-AK,Livengood,4AK,LIV,4AK,"-148.6534, 65.467"
28,Pedro Bay Airport,small_airport,45.0,US-AK,Pedro Bay,4K0,PDB,4K0,"-154.12399292, 59.7896003723"
29,Ouzinkie Airport,small_airport,55.0,US-AK,Ouzinkie,None,KOZ,4K5,"-152.496715, 57.925362"
...,...,...,...,...,...,...,...,...,...
1939,Tanacross Airport,small_airport,1549.0,US-AK,Tanacross,TSG,TSG,TSG,"-143.335998535, 63.374401092499994"
1940,Tyonek Airport,small_airport,110.0,US-AK,Tyonek,TYE,TYE,TYE,"-151.13800048828, 61.076698303223"
1941,Dubois Municipal Airport,small_airport,5123.0,US-ID,Dubois,U41,DBS,U41,"-112.225997925, 44.1665992737"
1942,Ugashik Bay Airport,small_airport,132.0,US-AK,Pilot Point,UGB,UGB,UGB,"-157.740005493, 57.4253997803"
1943,Cape Air Seaplanes on Boston Harbor Seaplane Base,seaplane_base,0.0,US-MA,Boston,MA87,BNH,MA87,"-71.025832, 42.352502"
1944,Spirit Lake Municipal Airport,small_airport,1434.0,US-IA,Spirit Lake,None,RTL,0F3,"-95.139198303223, 43.387500762939"
1945,Monument Valley Airport,small_airport,5192.0,US-UT,Goulding's Lodge,UT25,GMV,UT25,"-110.200996399, 37.016700744599994"
1946,Friday Harbor Seaplane Base,seaplane_base,NaN,US-WA,Friday Harbor,W33,FBS,W33,"-123.010002136, 48.537300109899995"
1947,Rosario Seaplane Base,seaplane_base,NaN,US-WA,Rosario,W49,RSJ,W49,"-122.867996216, 48.6456985474"
1948,Kenmore Air Harbor Seaplane Base,seaplane_base,14.0,US-WA,Seattle,W55,LKE,W55,"-122.338996887, 47.6290016174"
1949,Roche Harbor Airport,small_airport,100.0,US-WA,Roche Harbor,WA09,RCE,WA09,"-123.138999939, 48.6123008728"
1950,Westsound/Wsx Seaplane Base,seaplane_base,NaN,US-WA,Westsound,WA83,WSX,WA83,"-122.95300293, 48.6179008484"
1951,Stebbins Airport,small_airport,14.0,US-AK,Stebbins,WBB,WBB,WBB,"-162.277999878, 63.5159988403"
1952,Parker County Airport,small_airport,990.0,US-TX,Weatherford,KWEA,WEA,WEA,"-97.6824035645, 32.7462997437"
1953,Berkley Municipal Heliport,closed,12.0,US-CA,Oakland,WJBK,JBK,JBK,"-122.3065, 37.8666"
1954,Decatur Shores Airport,small_airport,38.0,US-WA,Decatur,WN07,DTR,WN07,"-122.814002991, 48.499801635699995"
1955,Steamboat Bay Seaplane Base,seaplane_base,NaN,US-AK,Steamboat Bay,WSB,WSB,WSB,"-133.641998291, 55.5295982361"
1956,San Juan /Uganik/ Seaplane Base,seaplane_base,0.0,US-AK,San Juan,None,UGI,WSJ,"-153.320999, 57.7304"
1957,Wiseman Airport,small_airport,1180.0,US-AK,Wiseman,WSM,WSM,WSM,"-150.123001099, 67.4046020508"
1958,Glendale Fokker Field,small_airport,648.0,US-WV,Glendale,WV66,GWV,WV66,"-80.7594985962, 39.948699951200005"
1959,Miami Seaplane Base,seaplane_base,0.0,US-FL,Miami,X44,MPB,X44,"-80.170303344727, 25.778299331665"
1960,Waukon Municipal Airport,small_airport,1281.0,US-IA,Waukon,Y01,UKN,Y01,"-91.469497680664, 43.280498504639"
1961,Akiachak Airport,small_airport,23.0,US-AK,Akiachak,Z13,KKI,Z13,"-161.42199707031, 60.904800415039"
1962,Bear Creek 3 Airport,small_airport,740.0,US-AK,Bear Creek,Z48,BCC,Z48,"-156.149454117, 63.5733160384"
1963,Bethel Seaplane Base,seaplane_base,15.0,US-AK,Bethel,Z59,JBT,Z59,"-161.742996216, 60.782001495399996"
1964,Cape Pole Seaplane Base,seaplane_base,0.0,US-AK,Cape Pole,Z71,CZP,Z71,"-133.79699707, 55.9663009644"
1965,Chignik Bay Seaplane Base,seaplane_base,NaN,US-AK,Chignik,Z78,KBW,Z78,"-158.401000977, 56.295600891099994"
1966,Birch Creek Airport,small_airport,450.0,US-AK,Birch Creek,Z91,KBC,Z91,"-145.824005127, 66.2740020752"
1967,Copper Center 2 Airport,small_airport,1150.0,US-AK,Copper Center,Z93,CZC,Z93,"-145.294006348, 61.9412002563"
1968,Nyac Airport,small_airport,460.0,US-AK,Nyac,ZNC,ZNC,ZNC,"-159.994003296, 60.9807014465"

In [148]:
spark.sql(' SELECT count(*)  \
          FROM stg_airport').toPandas()

   count(1)
0      1969

In [149]:
spark.sql('select count(*), local_code from stg_airport group by local_code having count(*) > 1').show()

+--------+----------+
|count(1)|local_code|
+--------+----------+
+--------+----------+

Read US City Data

In [24]:
stg_us_city_schema = StructType([
        StructField('City', StringType()),
        StructField('State', StringType()),
        StructField('Median Age', DoubleType()),
        StructField('Male Population', IntegerType()),
        StructField('Female Population', IntegerType()),
        StructField('Total Population', IntegerType()),
        StructField('Number of Veterans', IntegerType()),
        StructField('Foreign-born', IntegerType()),
        StructField('Average Household Size', DoubleType()),
        StructField('State Code', StringType()),
        StructField('Race', StringType()),
        StructField('Count', IntegerType())
    ])

In [25]:
stg_us_city_df=spark.read.option("delimiter", ";").csv('{}/us-cities-demographics.csv'.format(landing_zone_path),header=True,schema=stg_us_city_schema)

In [26]:
stg_us_city_df.limit(10).toPandas()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601,41862,82463,1562,30908,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129,49500,93629,4147,32935,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127,87105,175232,5821,33878,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040,143873,281913,5829,86253,2.73,NJ,White,76402
5,Peoria,Illinois,33.1,56229,62432,118661,6634,7517,2.40,IL,American Indian and Alaska Native,1343
6,Avondale,Arizona,29.1,38712,41971,80683,4815,8355,3.18,AZ,Black or African-American,11592
7,West Covina,California,39.8,51629,56860,108489,3800,37038,3.56,CA,Asian,32716
8,O'Fallon,Missouri,36.0,41762,43270,85032,5783,3269,2.77,MO,Hispanic or Latino,2583
9,High Point,North Carolina,35.5,51751,58077,109828,5204,16315,2.65,NC,Asian,11060

In [27]:
stg_us_city_df.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: double (nullable = true)
 |-- Male Population: integer (nullable = true)
 |-- Female Population: integer (nullable = true)
 |-- Total Population: integer (nullable = true)
 |-- Number of Veterans: integer (nullable = true)
 |-- Foreign-born: integer (nullable = true)
 |-- Average Household Size: double (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

In [28]:
stg_us_city_df.createOrReplaceTempView("stg_us_city_prep")

In [29]:
spark.sql('SELECT * from stg_us_city_prep where "state code" is null').toPandas()

Empty DataFrame
Columns: [City, State, Median Age, Male Population, Female Population, Total Population, Number of Veterans, Foreign-born, Average Household Size, State Code, Race, Count]
Index: []

Prepare and clense City Data to be a dimension on the state granularity and perform a US State Dimension

In [30]:
spark.sql('drop table IF EXISTS stg_us_state')

DataFrame[]

In [31]:
spark.sql('create table stg_us_state as SELECT state ,state_code , SUM(male_population) as male_population ,sum(female_population) as female_population,\
          sum(total_population) as total_population,sum(number_of_veterans) as number_of_veterans , \
         sum(foreign_born) as foreign_born, sum(Count)  as count from(\
          SELECT  state ,`State Code` as state_code  ,`Male Population` as male_population ,`Female Population` as female_population,\
          `Total Population` as total_population  ,`Number of Veterans` as number_of_veterans , \
         `Foreign-born` as foreign_born, `Average Household Size` as average_household_size, sum(Count)  as count\
           FROM stg_us_city_prep   group by \
           state ,`State Code`  ,`Median Age` ,`Male Population` ,`Female Population` , `Total Population`  ,`Number of Veterans` ,\
            `Foreign-born` , `Average Household Size`)A \
          group by state ,state_code').toPandas()

Empty DataFrame
Columns: []
Index: []

In [32]:
spark.sql('SELECT  state,state_code,male_population,female_population,total_population,number_of_veterans,foreign_born,count from stg_us_state').toPandas()

,state,state_code,male_population,female_population,total_population,number_of_veterans,foreign_born,count
0,Wisconsin,WI,688803,724342,1413145,61134.0,124687.0,1592148
1,Georgia,GA,820321,890711,1711032,104515.0,147785.0,1833611
2,Michigan,MI,1056446,1147014,2203460,99481.0,249772.0,2371664
3,Arkansas,AR,286479,303400,589879,31704.0,62108.0,643597
4,Kentucky,KY,452483,477394,929877,56025.0,66488.0,999456
5,Delaware,DE,32680,39277,71957,3063.0,3336.0,75048
6,North Dakota,ND,95235,94255,189490,10299.0,11492.0,198197
7,Connecticut,CT,432157,453424,885581,24953.0,225866.0,1106528
8,Alaska,AK,152945,145750,298695,27492.0,33258.0,336228
9,Rhode Island,RI,202816,210746,413562,18607.0,87365.0,482700
10,New Mexico,NM,409010,430032,839042,60474.0,89112.0,1179529
11,California,CA,12278281,12544179,24822460,928270.0,7448257.0,31753718
12,Nebraska,NE,357333,363900,721233,39197.0,71221.0,809416
13,Louisiana,LA,626998,673597,1300595,69771.0,83419.0,1391090
14,Utah,UT,530818,519773,1050591,39671.0,132819.0,1180933
15,South Dakota,SD,122718,122380,245098,16087.0,15309.0,259402
16,Washington,WA,1245605,1254502,2500107,153126.0,440962.0,2832381
17,Pennsylvania,PA,1117708,1213148,2330856,104850.0,290860.0,2675056
18,District of Columbia,DC,319705,352523,672228,25963.0,95117.0,726519
19,Maryland,MD,627951,684178,1312129,64143.0,229794.0,1451928
20,Virginia,VA,1160474,1203148,2363622,229766.0,269254.0,2610431
21,Nevada,NV,1118645,1122099,2240744,152047.0,481337.0,2781296
22,North Carolina,NC,1466105,1594094,3060199,166146.0,379327.0,3387940
23,Indiana,IN,910346,972407,1882753,92165.0,147233.0,2062597
24,New York,NY,4692055,5123571,9815626,204901.0,3438081.0,11377068
25,Oregon,OR,707443,729066,1436509,78948.0,185753.0,1665343
26,Alabama,AL,497248,552381,1049629,71543.0,52154.0,1096154
27,Mississippi,MS,112147,130536,242683,14792.0,4861.0,249185
28,Iowa,IA,361176,372635,733811,39898.0,63687.0,804775
29,Colorado,CO,1454619,1481050,2935669,187896.0,337631.0,3587084
30,South Carolina,SC,260944,272713,533657,33463.0,27744.0,565751
31,Texas,TX,7063571,7236412,14299983,693501.0,2942164.0,20029645
32,Idaho,ID,199103,199780,398883,26380.0,28126.0,446968
33,Arizona,AZ,2227455,2272087,4499542,264505.0,682313.0,5754881
34,Puerto Rico,PR,455870,534356,990226,NaN,NaN,997266
35,Florida,FL,3236773,3487375,6796738,388228.0,1688931.0,8664477
36,Tennessee,TN,1031836,1120724,2152560,117901.0,181405.0,2322524
37,Missouri,MO,733262,785932,1519194,91453.0,99095.0,1619575
38,Hawaii,HI,176807,175959,352766,23213.0,101312.0,393445
39,Maine,ME,31480,35392,66872,3666.0,9229.0,71861
40,Illinois,IL,2218541,2343771,4562312,146701.0,941735.0,5375987
41,New Hampshire,NH,97771,100427,198198,11005.0,27199.0,222803
42,Massachusetts,MA,975713,1039744,2015457,66076.0,520597.0,2321003
43,Oklahoma,OK,714573,734422,1448995,95468.0,151174.0,1729503
44,New Jersey,NJ,705736,723172,1428908,30195.0,477028.0,1795916
45,Montana,MT,87707,93587,181294,13854.0,5977.0,196224
46,Ohio,OH,1177546,1256143,2433689,127372.0,175219.0,2651621
47,Minnesota,MN,702157,720246,1422403,64894.0,215873.0,1546985
48,Kansas,KS,564145,584129,1148274,64789.0,118645.0,1326815

In [33]:
spark.sql('SELECT count(*) from stg_us_state').toPandas()

   count(1)
0        49

In [34]:
spark.sql('SELECT count(*),state_code from stg_us_state group by state_code having state_code > 1').toPandas()

Empty DataFrame
Columns: [count(1), state_code]
Index: []

In [35]:
spark.sql('SELECT * from stg_us_state where state_code is null').toPandas()

Empty DataFrame
Columns: [state, state_code, male_population, female_population, total_population, number_of_veterans, foreign_born, count]
Index: []

Read Cities file

In [36]:
stg_all_city_schema = StructType([
        StructField('city_cd', IntegerType()),
        StructField('city', StringType())
    ])

In [37]:
stg_all_city_df =spark.read.csv('{}/city.txt'.format(landing_zone_path),header=True,schema=stg_all_city_schema)

In [38]:
stg_all_city_df.limit(10).toPandas()

   city_cd             city
0      582   MEXICO Air Sea
1      236      AFGHANISTAN
2      101          ALBANIA
3      316          ALGERIA
4      102          ANDORRA
5      324           ANGOLA
6      529         ANGUILLA
7      518  ANTIGUA-BARBUDA
8      687       ARGENTINA
9      151          ARMENIA

In [39]:
stg_all_city_df.printSchema()

root
 |-- city_cd: integer (nullable = true)
 |-- city: string (nullable = true)

In [40]:
stg_all_city_df.createOrReplaceTempView("stg_all_city")

In [41]:
spark.sql('SELECT count(*) from stg_all_city ').toPandas()

   count(1)
0       289

Read Visa type file

In [42]:
stg_visa_type_schema = StructType([
        StructField('visa_cd', IntegerType()),
        StructField('visa', StringType())
    ])

In [43]:
stg_visa_type_df =spark.read.csv('{}/visa_type.txt'.format(landing_zone_path),header=True,schema=stg_visa_type_schema)

In [44]:
stg_visa_type_df.limit(10).toPandas()

   visa_cd        visa
0        1    Business
1        2    Pleasure
2        3     Student

In [45]:
stg_visa_type_df.printSchema()

root
 |-- visa_cd: integer (nullable = true)
 |-- visa: string (nullable = true)

In [46]:
stg_visa_type_df.createOrReplaceTempView("stg_visa_type")

Read transportation Mode data

In [47]:
stg_trans_mode_schema = StructType([
        StructField('trans_mode_cd', IntegerType()),
        StructField('trans_mode', StringType())
    ])

In [48]:
stg_trans_mode_df =spark.read.csv('{}/transport_mode.txt'.format(landing_zone_path),header=True,schema=stg_trans_mode_schema)

In [49]:
stg_trans_mode_df.limit(10).toPandas()

   trans_mode_cd    trans_mode
0              1           Air
1              2           Sea
2              3          Land
3              9  Not Reported

In [50]:
stg_trans_mode_df.printSchema()

root
 |-- trans_mode_cd: integer (nullable = true)
 |-- trans_mode: string (nullable = true)

In [51]:
stg_trans_mode_df.createOrReplaceTempView("stg_trans_mode")

Read date data

In [52]:
spark.sql("Drop table if exists stg_date")

DataFrame[]

In [53]:
spark.sql(" create table stg_date as select date_add(cast(to_timestamp('01-01-1960', 'mm-dd-yyyy') as date),arrdate ) as dt from stg_immigration_transactions\
 union     select date_add(cast(to_timestamp('01-01-1960', 'mm-dd-yyyy') as date),depdate) as dt from stg_immigration_transactions")

DataFrame[]

In [54]:
spark.sql("select * from stg_date where dt is null").toPandas()

     dt
0  None

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
The conceptual Data Model is as follows:
1.City: entity resembling the City that the immigrant is immigrating from.

2.US_State: entity resembling US state that the immigrant is immigrating to

3.Airport: entity resembling the airport that the immigrant arrived to

4.Visa Type: entity that resembling type of immigrant visa

5.Transportation mode: entity resembling the transportation mode that the immigrant used to immigrate.

6.Date: entity resembling the date with all its details

7.Immigration stream: Transactions for the immigrations to the us states

#### 3.2 Mapping Out Data Pipelines
Steps necessary to pipeline the data into the chosen data model
1.Stage the data into staging tables based on "Schema on read" tables

2.check if the dimension table already exists (i.e this is an incremental run) or the table is not existing in the DWH (i.e this is initial load)

3.load the incremental data in dimension tables

4.load transactional data into Fact table (immigration_fact)

Load the Data Model which is a star schema dimensional model consisting of Fact_Immigration surrounded by denormalized dimensions :
All_City_Dim ,
US_state_Dim ,
Airport_Dim ,
Visa_type_Dim ,
Transport_mode_Dim,
Date_Dim

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

Load All_City_Dim

In [55]:
print('Load Dim_All_City')

Load Dim_All_City

In [56]:
dim_all_city_path='{}/all_city_dim.parquet'

In [57]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_all_city_path)

In [58]:
tab_exist_flg

'FALSE'

In [59]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_all_city_df=spark.read.parquet(dim_all_city_path.format(dwh_model_path))
    dim_all_city_df.createOrReplaceTempView("dim_all_city")
    all_city_insrt_df=spark.sql('SELECT city_cd ,city from stg_all_city where city_cd not in (select city_cd from dim_all_city) and city_cd is not null')
    all_city_insrt_df.write.parquet(dim_all_city_path.format(dwh_model_path), 'append')
else:
    all_city_insrt_df=spark.sql('SELECT city_cd ,city from stg_all_city where city_cd is not null')
    all_city_insrt_df.write.parquet(dim_all_city_path.format(dwh_model_path), 'append')

In [118]:
dim_all_city_df=spark.read.parquet(dim_all_city_path.format(dwh_model_path))
dim_all_city_df.createOrReplaceTempView("dim_all_city")

In [119]:
dim_all_city_df.limit(10).toPandas()

   city_cd             city
0      582   MEXICO Air Sea
1      236      AFGHANISTAN
2      101          ALBANIA
3      316          ALGERIA
4      102          ANDORRA
5      324           ANGOLA
6      529         ANGUILLA
7      518  ANTIGUA-BARBUDA
8      687       ARGENTINA
9      151          ARMENIA

Load Dim_US_city data

In [185]:
print('Load Dim_US_State')

Load Dim_US_State

In [186]:
dim_us_state_path='{}/us_state_dim.parquet'

In [187]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_us_state_path.format(dwh_model_path))

In [188]:
tab_exist_flg

'TRUE'

In [189]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_us_state_df=spark.read.parquet(dim_us_state_path.format(dwh_model_path))
    dim_us_state_df.createOrReplaceTempView("dim_us_state")
    us_state_insrt_df=spark.sql('SELECT  state,state_code,male_population,female_population,total_population,number_of_veterans,foreign_born,count from stg_us_state \
    where state_code not in (select state_code from dim_us_state) ')
    us_state_insrt_df.write.parquet(dim_us_state_path.format(dwh_model_path), 'append')
else:
    us_state_insrt_df=spark.sql('SELECT  state,state_code,male_population,female_population,total_population,number_of_veterans,foreign_born,count from stg_us_state')
    us_state_insrt_df.write.parquet(dim_us_state_path.format(dwh_model_path), 'append')

In [190]:
dim_us_state_df=spark.read.parquet(dim_us_state_path.format(dwh_model_path))
dim_us_state_df.createOrReplaceTempView("dim_us_state")

In [191]:
dim_us_state_df.count()

49

Load Dim_airport data

In [192]:
print('Load Dim_airport')

Load Dim_airport

In [193]:
dim_airport_path='{}/airport_dim.parquet'

In [194]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_airport_path.format(dwh_model_path))

In [195]:
tab_exist_flg

'TRUE'

In [196]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_airport_df=spark.read.parquet(dim_airport_path.format(dwh_model_path))
    dim_airport_df.createOrReplaceTempView("dim_airport")
    airport_insrt_df=spark.sql('SELECT name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code,coordinates  \
          FROM stg_airport \
          where local_code not in (select local_code from dim_airport) ')
    airport_insrt_df.write.parquet(dim_airport_path.format(dwh_model_path), 'append')
else:
    airport_insrt_df=spark.sql('SELECT name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code,coordinates  \
          FROM stg_airport')
    airport_insrt_df.write.parquet(dim_airport_path.format(dwh_model_path), 'append')

In [198]:
dim_airport_df=spark.read.parquet(dim_airport_path.format(dwh_model_path))
dim_airport_df.createOrReplaceTempView("dim_airport")

In [199]:
dim_airport_df.count()

1969

Load Dim_visa_type data

In [78]:
print('Load Dim_visa_type')

Load Dim_visa_type

In [79]:
dim_visa_type_path='visa_type_dim.parquet'.format(dwh_model_path)

In [80]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_visa_type_path.format(dwh_model_path))

In [81]:
tab_exist_flg

'TRUE'

In [82]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_visa_type_df=spark.read.parquet(dim_visa_type_path.format(dwh_model_path))
    dim_visa_type_df.createOrReplaceTempView("dim_visa_type")
    visa_type_insrt_df=spark.sql('SELECT visa_cd,visa  \
          FROM stg_visa_type \
          where visa_cd not in (select visa_cd from dim_visa_type) ')
    visa_type_insrt_df.write.parquet(dim_visa_type_path.format(dwh_model_path), 'append')
else:
    visa_type_insrt_df=spark.sql('SELECT visa_cd, visa  \
          FROM stg_visa_type')
    visa_type_insrt_df.write.parquet(dim_visa_type_path.format(dwh_model_path), 'append')

In [125]:
dim_visa_type_df=spark.read.parquet(dim_visa_type_path.format(dwh_model_path))
dim_visa_type_df.createOrReplaceTempView("dim_visa_type")

In [126]:
dim_visa_type_df.count()

3

Load Dim_transp_mode

In [85]:
print('Load Dim_trans_mode')

Load Dim_trans_mode

In [86]:
dim_trans_mode_path='trans_mode_dim.parquet'.format(dwh_model_path)

In [87]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_trans_mode_path.format(dwh_model_path))

In [88]:
tab_exist_flg

'TRUE'

In [89]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_trans_mode_df=spark.read.parquet(dim_trans_mode_path.format(dwh_model_path))
    dim_trans_mode_df.createOrReplaceTempView("dim_trans_mode")
    trans_mode_insrt_df=spark.sql('SELECT trans_mode_cd,trans_mode  \
          FROM stg_trans_mode \
          where trans_mode_cd not in (select trans_mode_cd from dim_trans_mode) ')
    trans_mode_insrt_df.write.parquet(dim_trans_mode_path.format(dwh_model_path), 'append')
else:
    trans_mode_insrt_df=spark.sql('SELECT trans_mode_cd, trans_mode  \
          FROM stg_trans_mode')
    trans_mode_insrt_df.write.parquet(dim_trans_mode_path.format(dwh_model_path), 'append')

In [127]:
dim_trans_mode_df=spark.read.parquet(dim_trans_mode_path.format(dwh_model_path))
dim_trans_mode_df.createOrReplaceTempView("dim_trans_mode")

In [128]:
dim_trans_mode_df.count()

4

Load dim_date Table

In [92]:
print('Load Dim_date'.format(dwh_model_path))

Load Dim_date

In [93]:
dim_date_path='date_dim.parquet'.format(dwh_model_path)

In [94]:
#check if the parquet file is loaded before or not
tab_exist_flg=check_table(dim_date_path.format(dwh_model_path))

In [95]:
tab_exist_flg

'FALSE'

In [96]:
#if loaded before then make left join to increment on the existing data else load the full delta
if tab_exist_flg=='TRUE':
    dim_date_df=spark.read.parquet(dim_date_path.format(dwh_model_path))
    dim_date_df.createOrReplaceTempView("dim_date")
    dt_insrt_df=spark.sql('SELECT dt, day,week ,month ,year ,weekday\
          FROM stg_dt \
          where dt not in (select dt from dim_dt) ')
    date_insrt_df.write.parquet(dim_date_path.format(dwh_model_path), 'append')
else:
    date_insrt_df=spark.sql('SELECT dt, dayofmonth(dt) as day, weekofyear(dt) as week, \
                                                month(dt) as month, year(dt) as year, dayofweek(dt) as weekday  \
          FROM stg_date')
    date_insrt_df.write.parquet(dim_date_path.format(dwh_model_path), 'append')

In [129]:
dim_date_df=spark.read.parquet(dim_date_path.format(dwh_model_path))
dim_date_df.createOrReplaceTempView("dim_date")

In [130]:
dim_date_df.limit(10).toPandas()

           dt  day  week  month  year  weekday
0  2016-04-19   19    16      4  2016        3
1  2016-09-12   12    37      9  2016        2
2  2015-04-16   16    16      4  2015        5
3  2016-04-26   26    17      4  2016        3
4  2016-08-05    5    31      8  2016        6
5  2016-05-13   13    19      5  2016        6
6  2016-05-31   31    22      5  2016        3
7  2016-06-30   30    26      6  2016        5
8  2016-06-03    3    22      6  2016        6
9  2016-07-20   20    29      7  2016        4

In [131]:
dim_date_df.count()

236

Load The Fact_Immigration Table

In [100]:
print('Load Fact_Immigration Table')

Load Fact_Immigration Table

In [101]:
fact_immig_path='{}/immig_fact.parquet'

In [102]:
immig_insrt_df=spark.sql("select \
cast(cast(i94yr as integer) as string)||''||case when length(cast(cast(i94mon as integer) as string)) <2 then '0'||cast(cast(i94mon as integer) as string)\
else cast(cast(i94mon as integer) as string) end as  extract_month, \
cast(i94res as integer) as immig_from_city_cd, \
i94port as immig_port_cd ,\
date_add(cast(to_timestamp('01-01-1960', 'mm-dd-yyyy') as date),arrdate ) as arrival_date,\
cast(coalesce(i94mode,9) as integer) as immig_transport_mode ,\
i94addr as immig_to_city_cd ,\
date_add(cast(to_timestamp('01-01-1960', 'mm-dd-yyyy') as date),depdate) as depart_date ,\
cast(i94visa as integer) as visa_type_cd ,\
matflag as match_flg ,\
cast(biryear as integer) as resp_birth_year ,\
dtaddto as US_dt_addmt_to ,\
gender as rep_gender ,\
airline as airline_used ,\
admnum as admission_no , \
fltno as flight_no_used , \
visatype as visa_type \
from stg_immigration_transactions limit 1000000")
immig_insrt_df.write.parquet(fact_immig_path.format(dwh_model_path), 'append')

In [132]:
fact_immigration_df=spark.read.parquet(fact_immig_path.format(dwh_model_path))
fact_immigration_df.createOrReplaceTempView("fact_immigration")

In [133]:
fact_immigration_df.count()

2000000

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [139]:
spark.sql("truncate table stg_airport")

DataFrame[]

In [200]:
# Perform quality checks here
# Integrity Constraints Checks
#Source/Count checks to ensure completeness
spark.sql("select count(*),'STG Model Table' as table_layer from stg_airport where   iata_code is not null and local_code is not null \
union all  select count(*),'DWH Model Table' as table_layer from dim_airport").toPandas()

   count(1)      table_layer
0      1969  STG Model Table
1      1969  DWH Model Table

In [113]:
spark.sql("select count(*),'STG Model Table' as table_layer from stg_all_city \
union all  select count(*),'DWH Model Table' as table_layer from dim_city").toPandas()

   count(1)      table_layer
0       289  STG Model Table
1        49  DWH Model Table

In [109]:
spark.sql("select * from dim_airport where local_code='34MN' and iata_code is null").toPandas()

,name,type,elevation_ft,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,Peil/Juliar Seaplane Base,seaplane_base,627,US-MN,Mound,34MN,None,34MN,"-93.64939880371094, 44.959999084472656"
1,Lakewood Health Center Heliport,heliport,1093,US-MN,Baudette,34MN,None,34MN,"-94.601888, 48.706388"

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.